#BoxContainer {
  width: 100%;
  flex: 1 0 auto;
  position: relative;
  padding: 20px;
}

.box {
  display: inline-block;
}

label {
  display: block;
}

textarea {
  font-family: "Pixel Pirate", serif;
  resize: none;
  margin: 5px;
  width: 30vh;
  height: 10vh;
  border-radius: 3px;
}


