@font-face {
  font-family: "Pixel Pirate";
  src: url("./assets/fonts/Pixel-Pirate.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#App {
  font-family: "Pixel Pirate", serif;
  text-align: center;
  width: 100%;
  height: 100%;
}

#AppContainer {
  width: 65%;
  height: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: table;
  border: 1px solid #767676;
  border-radius: 3px;
  -ms-transform: translateY(-50%);
}

#Header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  height: 100px;
  padding: 20px;
  flex: 1 0 auto;
}

#Header label {
  font-family: "Pixel Pirate", serif;
}

#Header img {
  position: relative;
  margin: 20px;
  width: 100px;
  height: auto;
}
